<nav id="navbar">
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="./old_games">View Games</a>
        </li>
        <li>
            <a href="./login">Login</a>
        </li>
    </ul>
</nav>