<nav id="navbar">
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="./old_games">View Games</a>
        </li>
        <li>
            <% if (user) { %>
            <a id="username-nav-bar"><%= user.username %></a>
            <% }else { %>
            <a href="./login">Login</a>
            <% } %>
        </li>
    </ul>
</nav>