<nav id="navbar">
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="./old_games">View Games</a>
        </li>
        <% if (user) { %>
        <li>
          <a id="username-nav-bar"><%= user.username %></a>
        </li>
        <li>
          <a id="logout-button">Logout</a>
          <script>
            document.querySelector("#logout-button").addEventListener("click", (event)=>{
              event.preventDefault();
              fetch("./logout")
              .then(()=>{
                console.log("test");
                location.reload();
              });
            });
          </script>
        </li>
        <% }else { %>
        <li>
          <a href="./login">Login</a>
        </li>
        <li>
          <a href="./signup">Signup</a>
        </li>
        <% } %>
        </li>
    </ul>
</nav>
