<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include("./views/inc/navbar.ejs"); %>
    <form method="POST" id="sign-form">
        <%if (error) { %>
            <h2 class="error-message"><%=error%></h2>
        <% } %>
        <h1>Signup</h1>
        <input type="text" name="username" id="username" autofocus>
        <input type="password" name="password" id="password">
        <p>already have an account? <a href="./login">login here</a></p>
        <input type="submit" value="Signup">
    </form>
</body>
</html>