.piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.white {
    filter: invert(40%) sepia(37%) saturate(2876%) hue-rotate(359deg) brightness(102%) contrast(109%);
}
.black {
    filter: invert(16%) sepia(90%) saturate(2175%) hue-rotate(197deg) brightness(98%) contrast(102%);
}
.queen {
    background-image: url("../img/queen.svg");
}
.king {
    background-image: url("../img/king.svg");
}
.pawn {
    background-image: url("../img/pawn.svg");
}
.rook {
    background-image: url("../img/rook.svg");
}
.bishop {
    background-image: url("../img/bishop.svg");
}
.knight {
    background-image: url("../img/knight.svg");
}
#chessboard {
    display: flex;
    flex-direction: column;
}
.rank {
    display: flex;
    flex-direction: row;
}
.square {
    width: 100px;
    height: 100px;
    background-color: #2A231F;
}
.rank:nth-child(odd) > .square:nth-child(odd) , .rank:nth-child(even) > .square:nth-child(even){
    background-color: #D8E1E7;
}
/*for blindfold*/
#moves {
    display: flex;
    flex-wrap: wrap;
}
.move {
    width: 50%;
}