:root {
    --dark-dark : #27374D;
    --light-dark : #526D82;
    --dark-light : #9DB2BF;
    --light-light : #DDE6ED;
    --user-name : #D90429;
}
body {
    background: var(--dark-dark);
    color: var(--dark-light);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*chessboard*/
#opponent-infos, #user-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.piece {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition-property: all;
    transition-timing-function: linear;
}
.white {
    filter: invert(17%) sepia(36%) saturate(664%) hue-rotate(175deg) brightness(97%) contrast(90%);
}
.black {
    filter: invert(97%) sepia(3%) saturate(1353%) hue-rotate(176deg) brightness(97%) contrast(91%);
}
.queen {
    background-image: url("../img/queen.svg");
}
.king {
    background-image: url("../img/king.svg");
}
.pawn {
    background-image: url("../img/pawn.svg");
}
.rook {
    background-image: url("../img/rook.svg");
}
.bishop {
    background-image: url("../img/bishop.svg");
}
.knight {
    background-image: url("../img/knight.svg");
}
#chessboard {
    display: flex;
    flex-direction: column;
}
.rank {
    display: flex;
    flex-direction: row;
}
.square {
    width: 100px;
    height: 100px;
    background-color: var(--light-dark);
}
.rank:nth-child(odd) > .square:nth-child(odd).to_move , .rank:nth-child(even) > .square:nth-child(even).to_move, .to_move{
    position: relative;
}
.square.to_move::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-color: #d9042763;
}
.rank:nth-child(odd) > .square:nth-child(odd) , .rank:nth-child(even) > .square:nth-child(even){
    background-color: var(--dark-light);
}
/*chat*/
#chat, #moves-section {
    width: 20%;
    height: 800px;
    border-radius: 15px;
    border: 1px solid var(--light-dark);
}
#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#messages {
    height: calc(800px - 44px);/*#chat - send-message*/
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: var(--user-name) var(--dark-dark);
}
.message {
    margin: 16px 20px;
}
#message-form {
    border-top: 1px solid var(--light-dark);
    position: sticky;
    height: 44px;
}
input#send-message {
    height: 100%;
    width: calc(100% - 20px - 64px);/*max width - padding*/
    margin: 0;
    padding: 0 64px 0 20px;
    background-color: var(--dark-dark);
    color: var(--light-light);
    border: none;
    border-radius: 0 0 15px 15px;
    background-image: url("../img/send.svg");
    background-repeat: no-repeat;
    background-size: 44px;
    background-position-x: calc(100% - 10px);
    text-wrap: wrap;
}
input#send-message:focus {
    background-color: var(--light-dark);
    outline: none;
}
input#send-message:focus::placeholder {
    color: var(--light-dark);
}
input[type=submit] {
    position: absolute;
    top: 0;
    left: calc(100% - 10px - 44px);
    width: 44px;
    height: 100%;
    background-color: transparent;
    border: none;
}
input[type=submit]:hover {
    cursor: pointer;
}
span.user-name {
    color: var(--user-name);
}
/*moves*/
#moves-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#moves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: var(--user-name) var(--dark-dark);
}
.move {
    width: calc(50% - 2px - 40px);/*50% - border - padding*/
    height: 1em;
    border-bottom: 1px solid var(--light-dark);
    margin: 0;
    padding: 10px 20px;
}
.move:nth-child(odd){
    border-right: 1px solid var(--light-dark);
}
.move > p {
    margin: 0;
}
#moves-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 84px;
    border-top: 1px solid var(--light-dark);
}
#moves-buttons > button {
    width: 128px;
    height: 39px;
    background-color: var(--dark-light);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
@media (max-width:1400px) {
    #chat, #moves-section {
        display: none;
    }
}
@media (max-width:800px) {
    .piece {
        width: 100%;
        height: 100%;
    }
    .square, .square.to_move::before {
        width: 12.4vw;
        height: 12.4vw;
    }
}
